<div ng-controller="loginCtrl">
  <div class=panel panel-default>
      <div class="wrapper-md">
      	<div class="panel-body">
      		<div class="row">
      			<form action="/" id="myLogin">
	             UserName: <input type="text" name="UserName" id="UserName" ng-model="UserName"><br/>
	             Password: <input type="password" name="password" id="password" ng-model="Password">
	             <button type="button" ng-click="submit()" style="cursor:pointer">Login</button>
                 </form>
      		</div>
      	</div>
      </div>      
   </div>
<div>
	